.pagination {
    list-style-type: none;
    font-size: 1.2rem;
}

li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

a {
    text-decoration: none;
    color: #000;

}

.active {
    font-size: 1.5rem;
    border: thick solid #ffcc66;
    border-radius: 100%;
}